@import "utils/variables";
@import "base/defaults";
@import "components/page-header";
@import "components/page-logo";
@import "components/nav-links";
@import "components/contakt-list";
@import "components/hero";
@import "components/advantages";
@import "components/activity";
@import "components/command";
@import "components/master-social";
@import "components/client";
@import "components/footer";
@import "components/address-list";
@import "components/footer-form";
@import "components/footer-button";
@import "components/buttons-menu";
@import "components/card-set";
@import "components/form-field";
@import "components/modal";
@import "components/backdrop";
@import "components/backdrop-button";

.contaner {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
}

.overlay {
  max-width: 1600px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.portfolio {
  display: block;
  padding-bottom: 94px;
  padding-top: 94px;
}
